<div>
    <h1>jjjjjjjjjjjj</h1>
    {{#each departements}}
        {{!-- <b>key1:</b> {{this.Key1}} <br/>
        {{#each this.Key2}}
          <b>InnerKey1:</b> {{this.innerKey1}} <br/>
        {{/each}} --}}
        <h2>{{this.name}}</h2>

    {{#each this.Users}}
        {{!-- <b>key1:</b> {{this.Key1}} <br/>
        {{#each this.Key2}}
          <b>InnerKey1:</b> {{this.innerKey1}} <br/>
        {{/each}} --}}
        <h5>{{this.firstName}}</h5>

        
        

    {{/each}}
        

    {{/each}}
</div>