<div>
  <table class="styled-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Password</th>
        <th>Departement</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
        <tr id="{{this.id}}">
          <td>{{this.id}}</td>
          <td>{{this.firstName}}</td>
          <td>{{this.lastName}}</td>
          <td>{{this.email}}</td>
          <td>{{this.password}}</td>
          <td>{{this.Departement.name}}</td>
          {{!-- <td>{{this.Departement}}</td> --}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>