extends ../layouts/dashboard
block content
  main
    h1 Users - Edit
    if !user
      h2 There is no user with this id
    else 
      form(method="post") 
        input(type="hidden", name="csrf")
        label(for="firstname") FirstName
        input#firstname( name="firstName", value=`${user.firstName}`)

        br
        label(for="lastname") LastName
        input#lastname( name="lastName", value=`${user.lastName}`)

        br
        label(for="email") Email
        input#email( name="email", type="email", value=`${user.email}`)

        br
        label(for="password") Password
        input#password( name="password", value=`${user.password}`)

        br
        label(for="departement") Departement
        select#departement(name="departement")
          for departement in departements 
            option(
              value=`${departement.id}`, selected=(user.DepartementId == departement.id)) #{departement.name}

        .form-actions 
          input(type="button", value="Cancel", onclick="history.back()")
          input(type="submit", value="Save")